<%= form_for(@user, url: @user.id.nil? ? employees_path : employee_path(@user), method: @user.id.nil? ? :post : :put) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :user_type_id, "User Type" %><br />
    <%= f.select :user_type_id, UserType.all.collect {|ut| [ut.name, ut.id] } %>
  </div>
  <div class="field">
    <%= f.label :manager_id, "Manager" %><br />
    <%= f.select :manager_id, User.joins(:user_type).where("user_types.manager" => true).collect {|u| [u.full_name, u.id] } %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, cols: 30, rows: 3 %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
