<script type="text/javascript">
$(function() {
  $( "#user_user_type_id" ).combobox({
    list: $( "#user_user_type_id" ),
    parent_div: $("#user_type_id_input_group"),
    input: $("#user_type_id_input")
  });
  $( "#user_manager_id" ).combobox({
    list: $( "#user_manager_id" ),
    parent_div: $("#manager_id_input_group"),
    input: $("#manager_id_input")
  });
});
</script>
<%= form_for(@user, url: @user.id.nil? ? employees_path : employee_path(@user), method: @user.id.nil? ? :post : :put) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="col-md-4">
      <%= f.text_field :full_name, class: "form-control", placeholder: "Full Name" %>
      <br />
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      <br />
      <%= f.select :user_type_id, UserType.all.collect {|ut| [ut.name, ut.id] } %>
      <input id="user_type_id_input" title="" placeholder="User Type" class="form-control custom-combobox-input ui-autocomplete-input" autocomplete="on" data-original-title="">
      <div id="user_type_id_input_group" class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Show</button>
        </span>
      </div>
    
    
      <br />
      <%= f.select :manager_id, User.joins(:user_type).where("user_types.manager" => true).collect {|u| [u.full_name, u.id] }, include_blank: true %>
      <input id="manager_id_input" title="" placeholder="Manager / Point-of-Contact" class="form-control custom-combobox-input ui-autocomplete-input" autocomplete="on" data-original-title="">
      <div id="manager_id_input_group" class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Show</button>
        </span>
      </div>
      <br />
      <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
      <br />
      <%= f.text_area :address, cols: 30, rows: 3, class: "form-control", placeholder: "Address" %>
      <br />
      <%= f.text_field :password, class: "form-control", placeholder: "Password" %>
      <br />
      <%= f.text_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
      <br />
    </div>
    
  </div>
  <br />
  <div style="clear:both" />
  <div class="row-fluid">
    <div class="col-md-4">
      <%= f.submit class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
<% end %>
<div style="clear:both" />
<br />
