<h3>Employees</h3>
<ul class="nav nav-tabs">
  <li class="<%= tab_active["Default"] %>"><%= link_to "Default", employees_path %></li>
  <li class="<%= tab_active["Archived"] %>"><%= link_to "Archived", employees_path(archived: true) %></li>
</ul>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Type</th>
    <th>Manager</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.full_name, employee_path(user) %></td>
    <td><%= link_to user.email, employee_path(user) %></td>
    <td><%= user.user_type.name %></td>
    <td><%= user.manager.try(:full_name) %></td>
    <td>
      <%= link_to 'Edit', edit_employee_path(user) %>
      <% unless user.id == current_user.id %>
      |
      <%= link_to user.archived? ? "Unarchive" : "Archive", archive_employee_path(user, params), method: :post %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
