<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left:   'title',
        center: 'agendaDay,agendaWeek,month',
        right:  'today prev,next'
      },
      events: '<%= "/employees/#{params[:id]}/schedule.json" %>',
      dayClick: function(date, allDay, jsEvent, view) {
        window.location = '<%= new_schedule_path(employee_id: params[:id], return_path: employee_path(User.find(params[:id]))).html_safe %>&for_date=' + date.getTime() / 1000;
      }
    })
  });
</script>

<div class="panel panel-default">
  <div class="panel-heading">Employee</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Manager</th>
        <th>Phone</th>
        <th>Address</th>
        <th />
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.full_name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.user_type.name %></td>
        <td><%= @user.manager.try(:full_name) %></td>
        <td><%= @user.phone_number %></td>
        <td><pre><%= @user.address %></pre></td>
        <td><%= link_to 'Edit', edit_employee_path(@user) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="calendar" style="padding-top: 10px; padding-left: 10%; padding-right: 10%; padding-bottom: 10%"></div>
