<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left:   'title',
        center: 'agendaDay,agendaWeek,month',
        right:  'today prev,next'
      },
      firstDay: 1,
      events: '<%= "/employees/#{params[:id]}/schedule.json" %>',
      dayClick: function(date, allDay, jsEvent, view) {
        window.location = '<%= new_schedule_path(employee_id: params[:id], return_path: employee_path(User.find(params[:id]))).html_safe %>&for_date=' + date.getTime() / 1000;
      }
    });
    
    $( "#skill_id" ).combobox({
      list: $( "#skill_id" ),
      parent_div: $("#skill_id_input_group"),
      input: $("#skill_id_input"),
      custom_on_select: function(option) {
        $("#skill_id").val(option.value);
        $("#add_skill_form").submit();
      }
    });
    
    $("#add_skill_form").submit(function(e) {
      var postData = $(this).serializeArray();
      var formURL = $(this).attr("action");
      $.ajax({
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR) {
          $("#skills_list").append(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          
        }
      });
      e.preventDefault();
    });
  });
</script>

<div class="panel panel-default">
  <div class="panel-heading">Employee</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Manager / Point-of-Contact</th>
        <th>Phone</th>
        <th>Address</th>
        <th />
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.full_name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.user_type.name %></td>
        <td><%= @user.manager.try(:full_name) %></td>
        <td><%= @user.phone_number %></td>
        <td><pre><%= @user.address %></pre></td>
        <td><%= link_to 'Edit', edit_employee_path(@user) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid">
  <div id="calendar" class="col-md-9"></div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Skills</h3>
      </div>
      <div id="skills_list" class="panel-body">
        <%= form_for(@user, url: add_skill_employee_path(@user), method: :post, html: {id: "add_skill_form"}) do |f| %>
          <%= select_tag :skill_id, options_for_select(@skills), include_blank: true %>
          <input id="skill_id_input" title="" placeholder="Skill" class="form-control custom-combobox-input ui-autocomplete-input" autocomplete="on" data-original-title="">
          <div id="skill_id_input_group" class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Show</button>
            </span>
          </div>
        <% end %>
        <br />
        <% @user.skills.each do |skill| %>
        <%= render partial: "skill_item", locals: {skill: skill} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
