<script type="text/javascript">
$(function() {
  $("input[name='schedule[schedule_date]']").datepicker();
  $("input[name='schedule[from_time]']").timepicker();
  $("input[name='schedule[to_time]']").timepicker({
    'minTime': $("input[name='schedule[from_time]']").val(),
  });
  $("input[name='schedule[from_time]']").on("changeTime", function(){
    $("input[name='schedule[to_time]']").timepicker('remove');
    $("input[name='schedule[to_time]']").timepicker({
      'minTime': $(this).val(),
      'showDuration': true
    });
  });  
});



function addToMassAssignList(option) {
  var row_id = "user_id_" + option.value
  if ( $("#" + row_id).length == 0 ) {
    var row_div = $("<div id='" + row_id + "' style='row-fluid'>");
    var label_div = $("<div style='float: left'>");
    label_div.text(option.label);
  
    var user_id_field = $("<input id='user_ids_" + option.value + "' name='user_ids[" + option.value + "]' type='hidden'>");
    user_id_field.val(option.label);
    label_div.append(user_id_field);
  
    var remove_link_div = $("<div style='float: right'>");
    var remove_link = $("<a href='#'>");
    remove_link.text("remove");
    remove_link.click(function() {
      removeRowFromMassAssign(row_id);
      checkForScheduleConflicts();
      return false;
    });
    remove_link_div.append(remove_link);
  
    row_div.append(label_div);
    row_div.append(remove_link_div);
    $("#mass_assign_users").append(row_div);
    $("#mass_assign_users").append( "<div style='clear: both'>" );
  }
}

function removeRowFromMassAssign(row_id) {
  $("#" + row_id).remove();
}

function checkForScheduleConflicts() {
  var postData = $("#schedule_form").serializeArray();
  var formURL = "<%= schedules_schedule_conflicts_path %>";
  $.ajax({
    url : formURL,
    type: "get",
    data : postData,
    success:function(data, textStatus, jqXHR) {
      $("#schedule_conflicts").empty();
      $("#schedule_conflicts").append(data);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      
    }
  });
}

$(function() {
  $( "#schedule_job_id" ).combobox({
    list: $( "#schedule_job_id" ),
    parent_div: $("#job_id_input_group"),
    input: $("#job_id_input")
  });
  <% if !@schedule.persisted? %>
  $( "#user_id" ).combobox({
    list: $( "#user_id" ),
    parent_div: $("#user_id_input_group"),
    input: $("#user_id_input"),
    custom_on_select: function(option) {
      addToMassAssignList(option);
      checkForScheduleConflicts();
    }
  });
  <% end %>
  <% params[:user_ids].try(:each) do |k, v| %>
  addToMassAssignList({ value: '<%= k %>', label: '<%= v %>' });
  <% end %>
  
  $( "#schedule_schedule_date" ).change(function(e) {
    checkForScheduleConflicts();
  });
  $( "#schedule_from_time" ).change(function(e) {
    checkForScheduleConflicts();
  });
  $( "#schedule_to_time" ).change(function(e) {
    checkForScheduleConflicts();
  });
});
</script>
<%= form_for(@schedule, html: { id: "schedule_form" }) do |f| %>
  <input name="schedule_id" type="hidden" value="<%= @schedule.id %>">
  <div id="schedule_conflicts">
    
  </div>
  <% if @schedule.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <strong><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</strong>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="col-md-4">
      <%= f.select :job_id, @jobs, selected: @schedule.job.try(:id) || params[:job_id], include_blank: true %>
      <input id="job_id_input" title="" placeholder="Job" class="form-control custom-combobox-input ui-autocomplete-input" autocomplete="on" data-original-title="">
      <div id="job_id_input_group" class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Show</button>
        </span>
      </div>
      <br />
      <% if @schedule.persisted? %>
        User: <%= @schedule.user.full_name %>
        <br />
      <% else %>
      <%= select_tag :user_id, options_for_select(@users, params[:employee_id]), include_blank: true %>
      <input id="user_id_input" title="" placeholder="Employee" class="form-control custom-combobox-input ui-autocomplete-input" autocomplete="on" data-original-title="">
      <div id="user_id_input_group" class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Show</button>
        </span>
      </div>
      <% end %>
      <br />
      <%= f.text_field :schedule_date, value: default_schedule_date, class: "form-control", placeholder: "Date" %>
      <br />
      <%= f.text_field :from_time, value: default_from_time, class: "form-control", placeholder: "From Time" %>
      <br />
      <%= f.text_field :to_time, value: format_time_to_hour(@schedule.to_time), class: "form-control", placeholder: "To Time" %>
      <br />
      <%= hidden_field_tag :return_path, params[:return_path] %>
    </div>
    <div id="mass_assign_users" class="col-md-4" style="padding-top: 15px; padding-bottom: 15px">
      
    </div>
  </div>
  <div style="clear:both" />
  <div class="row-fluid">
    <div class="col-md-4">
      <%= f.submit class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
<% end %>
<div style="clear:both" />
<br />
