<script type="text/javascript">
var daysOfWeek = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

function convertDateTime(date, time){
  try {
    var date = date.split("/");
    var yyyy = date[2];
    var mm = date[0]-1;
    var dd = date[1];

    var time = time.split(":");
    var h = parseInt(time[0]);
    var m = parseInt(time[1].substring(0,2));
    var meridian = time[1].substring(time[1].length - 2, time[1].length);
    
    if (meridian.toUpperCase() == "PM" && h != 12) {
      h += 12;
    } else if (meridian.toUpperCase() == "AM" && h == 12) {
      h -= 12;
    }
    
    var s = 0;

    return new Date(yyyy,mm,dd,h,m,s);
  } catch(e) { 
    return null;
  }
}

function onScheduleTimeChange(from_time_date, from_time_time, to_time_date, to_time_time, hours_for_range, day_of_week) {
  var fromDateTime = convertDateTime(from_time_date.val(), from_time_time.val());
  var toDateTime = convertDateTime(to_time_date.val(), to_time_time.val());
  
  if (fromDateTime != null && toDateTime != null) {
    var totalHours = ((toDateTime - fromDateTime) / 1000 / 60 / 60);

    if (!isNaN(totalHours))
      hours_for_range.text(totalHours + " hours");
    else
      hours_for_range.text("");
  } else {
    hours_for_range.text("");
  }
}

function updateDayOfWeek(from_time_date, day_of_week) {
  try {
    var fromDate = convertDateTime(from_time_date.val(), "1:00am");
    if (fromDate != null)
      day_of_week.text(daysOfWeek[fromDate.getDay()]);
    else
      day_of_week.text("");
  } catch(e) {
    day_of_week.text("");
  }
}

function makePickers() {
  $.each($("#schedule_form input.date-picker.from"), function(index, value){
    var from_time_date = $(value);
    var to_time_date = $($("#schedule_form input.date-picker.to")[index]);
    var from_time_time = $($("#schedule_form input.time-picker.from")[index]);
    var to_time_time = $($("#schedule_form input.time-picker.to")[index]);
    var hours_for_range = $($("label.hours_for_range")[index]);
    var day_of_week = $($(".day_of_week")[index]);

    from_time_date.datepicker();
    to_time_date.datepicker();
    from_time_time.timepicker();
    to_time_time.timepicker();
    
    var onChange = function() { 
      onScheduleTimeChange(from_time_date, from_time_time, to_time_date, to_time_time, hours_for_range, day_of_week);
    };
    
    from_time_date.on("change", onChange);
    from_time_date.on("change", function() {
      updateDayOfWeek(from_time_date, day_of_week);
    });
    
    updateDayOfWeek(from_time_date, day_of_week);

    to_time_date.on("change", onChange);
    from_time_time.on("change", onChange);
    to_time_time.on("change", onChange);
    from_time_time.on("changeTime", onChange);
    to_time_time.on("changeTime", onChange);
  });
}

function padString(num, size) {
    var s = "000000000" + num;
    return s.substr(s.length-size);
}

function addDays(dateString, daysToAdd) {
  var dateArray = dateString.split("/");
  var yyyy = parseInt(dateArray[2]);
  var mm = parseInt(dateArray[0]) - 1;
  var dd = parseInt(dateArray[1]);
  
  var newDate = new Date(yyyy, mm, dd);
  newDate.setTime(newDate.getTime() + (24 * 60 * 60 * 1000 * daysToAdd));
  return padString(newDate.getMonth() + 1, 2) + "/" + padString(newDate.getDate(), 2) + "/" + newDate.getFullYear();
}

function customizeSchedulesByDay() {
  var fromDate = convertDateTime($("#schedule_item_0_from_time_date").val(), $("#schedule_item_0_from_time_time").val());
  var throughDate = convertDateTime($("#schedule_item_0_through_date").val(), $("#schedule_item_0_from_time_time").val());
  
  if (fromDate != null && !isNaN(fromDate) && throughDate != null && !isNaN(throughDate) && throughDate.getTime() > fromDate.getTime()) {
    var i = 1;
    $("#customize_times_by_day_section").hide();
    while (fromDate.getTime() < throughDate.getTime()) {
      fromDate.setTime(fromDate.getTime() + (24 * 60 * 60 * 1000));
      
      $.each($("#primary_schedule_section").find("input.date-picker"), function(index, value) {
        $(value).datepicker("destroy");
      });
      
      var template = $("#primary_schedule_section").clone();
      
      $.each(template.find("input"), function(index, value) {
        var newId = $(value).attr("id").replace("0", i.toString());
        var newName = $(value).attr("name").replace("0", i.toString());
        $(value).attr("id", newId);
        $(value).attr("name", newName);
      });
      
      $.each(template.find("input.date-picker"), function(index, value) {
        var newDate = addDays($(value).val(), i);
        $(value).val(newDate);
      });
      
      template.appendTo("#customize_times_by_day_section");
      i++;
    }
    
    makePickers();
    $("#repeat_through_section").hide();
    $("#customize_times_by_day_section").show();
    $("#pending_schedule_button_section").hide();
  }
  return false;
}

function toggleCustomizeSchedulesByDayButton() {
  var fromDate = convertDateTime($("#schedule_item_0_from_time_date").val(), $("#schedule_item_0_from_time_time").val());
  var toDate = convertDateTime($("#schedule_item_0_to_time_date").val(), $("#schedule_item_0_to_time_time").val());
  var throughDate = convertDateTime($("#schedule_item_0_through_date").val(), $("#schedule_item_0_from_time_time").val());
  
  if (fromDate != null && toDate != null && throughDate != null && 
    toDate.getTime() > fromDate.getTime() && throughDate.getTime() > fromDate.getTime()) {
    $("#customize_schedules_by_day").show()
  } else {
    $("#customize_schedules_by_day").hide()
  }
}

$(function() {
  makePickers();
  $("#schedule_item_0_through_date").datepicker();
  $("#schedule_item_0_from_time_date").on("change", function() {
    $("#schedule_item_0_through_date").val($("#schedule_item_0_from_time_date").val());
  });
  $("#customize_schedules_by_day").on("click", customizeSchedulesByDay);
  toggleCustomizeSchedulesByDayButton();
  
  $("#schedule_item_0_from_time_date").on("change", toggleCustomizeSchedulesByDayButton);
  $("#schedule_item_0_from_time_time").on("change", toggleCustomizeSchedulesByDayButton);
  $("#schedule_item_0_to_time_date").on("change", toggleCustomizeSchedulesByDayButton);
  $("#schedule_item_0_to_time_time").on("change", toggleCustomizeSchedulesByDayButton);
  $("#schedule_item_0_through_date").on("change", toggleCustomizeSchedulesByDayButton);
});



function addToMassAssignList(option) {
  var row_id = "user_id_" + option.value
  if ( $("#" + row_id).length == 0 ) {
    var row_div = $("<div id='" + row_id + "' style='row'>");
    var label_div = $("<div style='float: left'>");
    label_div.text(option.label);
  
    var user_id_field = $("<input id='user_ids_" + option.value + "' name='user_ids[" + option.value + "]' type='hidden'>");
    user_id_field.val(option.label);
    label_div.append(user_id_field);
  
    var remove_link_div = $("<div style='float: right'>");
    var remove_link = $("<a href='#'>");
    remove_link.text("remove");
    remove_link.click(function() {
      removeRowFromMassAssign(row_id);
      checkForScheduleConflicts();
      return false;
    });
    remove_link_div.append(remove_link);
  
    row_div.append(label_div);
    row_div.append(remove_link_div);
    $("#mass_assign_users").append(row_div);
    $("#mass_assign_users").append( "<div style='clear: both'>" );
  }
}

function removeRowFromMassAssign(row_id) {
  $("#" + row_id).remove();
}

function checkForScheduleConflicts() {
  var postData = $("#schedule_form").serializeArray();
  var formURL = "<%= schedules_schedule_conflicts_path %>";
  $.ajax({
    url : formURL,
    type: "get",
    data : postData,
    success:function(data, textStatus, jqXHR) {
      $("#schedule_conflicts").empty();
      $("#schedule_conflicts").append(data);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      
    }
  });
}

$(function() {
  $( "#schedule_job_id" ).combobox({
    list: $( "#schedule_job_id" ),
    parent_div: $("#job_id_input_group"),
    input: $("#job_id_input")
  });
  <% if !@schedule.persisted? %>
  $( "#user_id" ).combobox({
    list: $( "#user_id" ),
    parent_div: $("#user_id_input_group"),
    input: $("#user_id_input"),
    custom_on_select: function(option) {
      addToMassAssignList(option);
      checkForScheduleConflicts();
    }
  });
  <% end %>
  <% params[:user_ids].try(:each) do |k, v| %>
  addToMassAssignList({ value: '<%= k %>', label: '<%= v %>' });
  <% end %>
  
  $( "#schedule_schedule_date" ).change(function(e) {
    checkForScheduleConflicts();
    var fromDate = new Date($( "#schedule_schedule_date" ).val());
    var toDate = new Date($( "#schedule_through_schedule_date" ).val());

    if (!isNaN(fromDate) && !isNaN(toDate)) {
      if (toDate < fromDate) {
        $( "#schedule_through_schedule_date" ).val($( "#schedule_schedule_date" ).val());
      }
    }
    
    if (!isNaN(fromDate)) {
      var today = new Date();
      today.setHours(0);
      today.setMinutes(0);
      today.setSeconds(0);

      var dayOffset = Math.round((fromDate - today)/(1000*60*60*24));
      
      $("#schedule_through_schedule_date").datepicker("destroy");
      $("#schedule_through_schedule_date").datepicker({ minDate: dayOffset});
    }
  });
  $( "#schedule_through_schedule_date" ).change(function(e) {
    checkForScheduleConflicts();
  });
  $( "#schedule_from_time" ).change(function(e) {
    checkForScheduleConflicts();
  });
  $( "#schedule_to_time" ).change(function(e) {
    checkForScheduleConflicts();
  });
  
  $( "#schedule_schedule_date" ).change();
  
  $('#schedule_form').submit(function() {
    $(this).find("input:submit").prop('disabled',true);
  });
});
</script>
<%= form_for(@schedule, html: { id: "schedule_form" }) do |f| %>
  <input name="schedule_id" type="hidden" value="<%= @schedule.id %>">
  <div id="schedule_conflicts">
    
  </div>
  <% if @schedule.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <strong><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</strong>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <label for="job_id_input">Job:</label>
      <%= f.select :job_id, @jobs, selected: @schedule.job.try(:id) || params[:job_id], include_blank: true %>
      <input id="job_id_input" title="Job" placeholder="Job" class="form-control custom-combobox-input ui-autocomplete-input" autocomplete="on" data-original-title="">
      <div id="job_id_input_group" class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Job</button>
        </span>
      </div>
      <br />
      <% if @schedule.persisted? %>
        User: <%= @schedule.user.full_name %>
        <br />
      <% else %>
      <label for="user_id_input">Employee:</label>
      <%= select_tag :user_id, options_for_select(@users, params[:employee_id]), include_blank: true %>
      <input id="user_id_input" title="Employee" placeholder="Employee" class="form-control custom-combobox-input ui-autocomplete-input" autocomplete="on" data-original-title="">
      <div id="user_id_input_group" class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Employee</button>
        </span>
      </div>
      <% end %>
      <br />
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <label>From Date/Time: </label>
        </div>
        <div class="col-md-3">
          <label>Through Date/Time: </label>
        </div>
      </div>
      <% @schedule_time_ranges.each_with_index do |schedule_time_range, index| %>
      <!-- 
        default_schedule_date(:from_time) 
        default_from_time(:from_time)
        default_schedule_date(:to_time)
        default_from_time(:to_time)
      -->
      <div class="row" id="primary_schedule_section">
        <div class="col-md-2">
          <div class="day_of_week"><%= schedule_time_range["day_of_week"] %></div>
        </div>
        <div class="col-md-3">
          <%= text_field_tag "schedule_item[0][from_time_date]", schedule_time_range["from_time_date"], class: "input-sm form-control date-picker from", placeholder: "mm/dd/yyyy" %>
          <%= text_field_tag "schedule_item[0][from_time_time]", schedule_time_range["from_time_time"], class: "input-sm form-control time-picker from", placeholder: "h:mm" %>
        </div>

        <div class="col-md-3">
          <%= text_field_tag "schedule_item[0][to_time_date]", schedule_time_range["to_time_date"], class: "input-sm form-control date-picker to", placeholder: "mm/dd/yyyy" %>
          <%= text_field_tag "schedule_item[0][to_time_time]", schedule_time_range["to_time_time"], class: "input-sm form-control time-picker to", placeholder: "h:mm" %>
        </div>

        <div class="col-md-2">
          <label class="hours_for_range"><%= schedule_time_range["total_hours"] %></label>
        </div>
      </div>
      <% end %>

      <% unless @schedule.persisted? %>
      <br />
      <div id="repeat_through_section">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <label>Repeat through:</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <%= text_field_tag "schedule_item[0][through_date]", @schedule_time_ranges[0]["through_date"], class: "form-control date-picker input-sm", placeholder: "mm/dd/yyyy" %>
          </div>
          <div class="col-md-4">
            <a href="#" id="customize_schedules_by_day" class="btn btn-sm btn-primary" role="button" style="color: #FFFFFF">Customize Times by Day</a>
          </div>
        </div>
      </div>
      <div id="customize_times_by_day_section">
        
      </div>
      <% end %>
          
          
          
          
          
          
          
          
          <!--
          <br />
          <% unless @schedule.persisted? %>
            <label for="shedule_through_schedule_date">Through Date:</label>
            <%= f.text_field :through_schedule_date, value: default_schedule_date(:through_schedule_date), class: "form-control", placeholder: "Through Date" %>
          <br />
          <% end %>
          <label for="schedule_from_time">From Time:</label>
          
          <br />
          <label for="schedule_to_time">To Time:</label>
          <%= f.text_field :to_time, value: format_time_to_hour(@schedule.to_time), class: "form-control", placeholder: "To Time" %>
        
          <br />
        </div>-->

      <%= hidden_field_tag :return_path, params[:return_path] %>
      <%= hidden_field_tag :future_schedule_id, params[:future_schedule_id] %>
    </div>
    <div id="mass_assign_users" class="col-md-4" style="padding-top: 15px; padding-bottom: 15px">
      
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= f.submit class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
  <% unless @schedule.persisted? || (defined?(@future_schedule) && !@future_schedule.nil?) %>
  <div id="pending_schedule_button_section">
    <br>
    <div class="row">
      <div class="col-md-4">
        <%= f.submit class: "btn btn-lg btn-primary btn-block", value: "Create Pending Schedule" %>
      </div>
    </div>
    <% end %>
    <% if @future_schedule %>
    <br>
    <div class="row">
      <div class="col-md-4">
        <%= f.submit class: "btn btn-lg btn-primary btn-block", value: "Update Pending Schedule" %>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-4">
        <%= f.submit class: "btn btn-lg btn-primary btn-block", value: "Delete Pending Schedule" %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<br />
