<script type="text/javascript">
$(function() {
  $("input[name='schedule[schedule_date]']").datepicker();
  $("input[name='schedule[from_time]']").timepicker();
  $("input[name='schedule[to_time]']").timepicker();
  $("input[name='schedule[from_time]']").on("changeTime", function(){
    $("input[name='schedule[to_time]']").timepicker('remove');
    $("input[name='schedule[to_time]']").timepicker({
      'minTime': $(this).val(),
      'showDuration': true
    });
  });
});
</script>
<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br />
    <%= f.select :job_id, @jobs %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, @users %>
  </div>
  <div class="field">
    <%= f.label :schedule_date %><br />
    <%= f.text_field :schedule_date %>
  </div>
  <div class="field">
    <%= f.label :from_time %><br />
    <%= f.text_field :from_time %>
  </div>
  <div class="field">
    <%= f.label :to_time %><br />
    <%= f.text_field :to_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
