<h3 style="float: left">Schedules</h3>
<%= link_to 'New Schedule', new_schedule_path(employee_id: params[:user_id], job_id: params[:job_id], return_path: request.fullpath), class: "btn btn-lg btn-primary btn-block", style: "width: 200px; color: white; float: right" %>
<div style="clear:both" />
<ul class="nav nav-tabs">
  <li class="<%= tab_active_schedules["Default"] %>"><%= link_to "Default", schedules_path(params.merge(archived: "")) %></li>
  <li class="<%= tab_active_schedules["All Jobs"] %>"><%= link_to "All Jobs", schedules_path(params.merge(archived: "jobs")) %></li>
  <li class="<%= tab_active_schedules["All Employees"] %>"><%= link_to "All Employees", schedules_path(params.merge(archived: "employees")) %></li>
  <li class="<%= tab_active_schedules["All Schedules"] %>"><%= link_to "All Schedules", schedules_path(params.merge(archived: "all")) %></li>
</ul>
<%= render 'date_range_form' %>
<br />

<ul class="nav nav-tabs">
  <li class="<%= tab_active_schedules_section["Summary"] %>"><%= link_to "Summary", "#", id: "selected_tab_summary" %></li>
  <li class="<%= tab_active_schedules_section["List"] %>"><%= link_to "List", "#", id: "selected_tab_list" %></li>
  <li class="<%= tab_active_schedules_section["Calendar"] %>"><%= link_to "Calendar", "#", id: "selected_tab_calendar" %></li>
</ul>

<% if params[:selected_tab].blank? || params[:selected_tab] == "Summary" %>
  <%= render 'schedule_matrix' %>
<% elsif params[:selected_tab] == "List" %>
  <%= render 'schedule_list' %>
<% elsif params[:selected_tab] == "Calendar" %>
  <%= render 'calendar_view' %>
<% end %>
<br />
