<style type="text/css">
  .panel-body p label {
    padding-right: 5px;
  }
</style>
<div class="panel panel-default">
  <div class="panel-heading"><h3><%= @job.name %></h3></div>
  <div class="panel-body">
    <% unless @job.description.blank? %>
    <p>
      <label>Description: </label><pre><%= @job.description %></pre>
    </p>
    <% end %>
    
    <% unless @job.customer.nil? %>
      <p>
        <label>Customer: </label><%= @job.customer.name %>
      </p>
    <% end %>
    
    <% unless @job.point_of_contact.nil? %>
      <strong>Point-of-contact:</strong><%= @job.point_of_contact.name %>
      <strong>Phone: </strong><a href="tel:<%= @job.point_of_contact.phone_number %>"><%= @job.point_of_contact.phone_number %></a><br>
      <strong>Email: </strong><a href="mailto:<%= @job.point_of_contact.email_address %>" target="_blank"><%= @job.point_of_contact.email_address %></a><br>
      
      <% unless @job.point_of_contact.address.blank? %>
      <strong>Address: </strong><pre><a href="<%= "https://maps.google.com/?#{{q: @job.point_of_contact.address}.to_query}" %>" target="_blank" class="list-group-item active"><%= @job.point_of_contact.address %></a></pre>
      <% end %>
    <% end %>
    <br>
    <br>
    <% unless @job.internal_point_of_contact.nil? %>
      <strong>Internal Point-of-Contact</strong><%= @job.internal_point_of_contact.full_name %><br>
      <strong>Phone: </strong><a href="tel:<%= @job.point_of_contact.phone_number %>"><%= @job.internal_point_of_contact.phone_number %></a><br>
      <strong>Email: </strong><a href="mailto:<%= @job.internal_point_of_contact.email %>" target="_blank"><%= @job.internal_point_of_contact.email %></a><br>
    <% end %>
  </div>
  <table class="table table-bordered table-striped">
    <tr>
      <th>User</th>
      <th>Schedule</th>
      <th>Total Hours</th>
    </tr>
  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.user.full_name %></td>
      <td><%= "#{schedule.from_time.strftime("%m/%d/%Y %I:%M%P")}  to  #{schedule.to_time.strftime("%m/%d/%Y %I:%M%P")}" unless schedule.from_time.nil? || schedule.to_time.nil? %></td>
      <td><%= schedule.hours %></td>
    </tr>
  <% end %>
  </table>
</div>