<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <strong><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</strong>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="col-md-4">
      <label for="customer_name">Name:</label>
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      <br />
    </div>
  </div>
  <br />
  <div style="clear:both" />
  <div class="row-fluid">
    <div class="col-md-4">
      <%= f.submit class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
<% end %>
<div style="clear:both" />
<br />