<h3 style="float: left">Customers</h3>
<%= link_to 'New Customer', new_customer_path, class: "btn btn-lg btn-primary btn-block", style: "width: 200px; color: white; float: right" %>
<div style="clear:both" />
<ul class="nav nav-tabs">
  <li class="<%= tab_active["Default"] %>"><%= link_to "Default", customers_path %></li>
  <li class="<%= tab_active["Archived"] %>"><%= link_to "Archived", customers_path(archived: true) %></li>
</ul>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="expand">Name</th>
      <th class="shrink"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td class="expand"><%= link_to customer.name, customer %></td>
        <td class="shrink">
          <%= link_to 'Edit', edit_customer_path(customer) %>
          |
          <%= link_to customer.archived? ? "Unarchive" : "Archive", archive_customer_path(customer, params), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

