<script type="text/javascript">
$(function() {
  $("#time_off_request_from_date").datepicker();
  $("#time_off_request_to_date").datepicker();
  $( "#time_off_request_user_id" ).combobox({
    list: $( "#time_off_request_user_id" ),
    parent_div: $("#user_id_input_group"),
    input: $("#user_id_input")
  });
  
  $( "#time_off_request_from_date" ).change(function(e) {
    var fromDate = new Date($( "#time_off_request_from_date" ).val());
    var toDate = new Date($( "#time_off_request_to_date" ).val());

    if (!isNaN(fromDate) && !isNaN(toDate)) {
      if (toDate < fromDate) {
        $( "#time_off_request_to_date" ).val($( "#time_off_request_from_date" ).val());
      }
    }
    
    if (!isNaN(fromDate)) {
      var today = new Date();
      today.setHours(0);
      today.setMinutes(0);
      today.setSeconds(0);

      var dayOffset = Math.round((fromDate - today)/(1000*60*60*24));
      
      $("#time_off_request_to_date").datepicker("destroy");
      $("#time_off_request_to_date").datepicker({ minDate: dayOffset});
    }
  });
  
  $( "#time_off_request_from_date" ).change();
});
</script>
<%= form_for(@time_off_request) do |f| %>
  <% if @time_off_request.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <strong><%= pluralize(@time_off_request.errors.count, "error") %> prohibited this time_off_request from being saved:</strong>

      <ul>
      <% @time_off_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="col-md-4">
      <% if current_user.user_type.manager? %>
      <label for="user_id_input">Employee:</label>
        <%= f.select :user_id, User.all.collect{|u| [u.full_name, u.id] }, include_blank: false %>
        <input id="user_id_input" title="" placeholder="Employee" class="form-control custom-combobox-input ui-autocomplete-input" autocomplete="on" data-original-title="">
        <div id="user_id_input_group" class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Show</button>
          </span>
        </div>
      <% end %>
      <br />
      <label for="time_off_request_from_date">From Date:</label>
      <%= f.text_field :from_date, class: "form-control", placeholder: "From Date" %>
      <br />
      <label for="time_off_request_to_date">To Date:</label>
      <%= f.text_field :to_date, class: "form-control", placeholder: "To Date" %>
      <br />
      <label for="time_off_request_comment">Comment:</label>
      <%= f.text_field :comment, class: "form-control", placeholder: "Comment" %>
      <br />
    </div>
  </div>

  <div style="clear:both" />
  <div class="row-fluid">
    <div class="col-md-4">
      <%= f.submit class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
<% end %>
<div style="clear:both" />
<br />