<h3 style="float: left">Time Off Requests</h3>
<%= link_to 'New Time Off Request', new_time_off_request_path, class: "btn btn-lg btn-primary btn-block", style: "width: 200px; color: white; float: right" %>
<div style="clear:both" />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Manager</th>
      <th>Day(s) off requested</th>
      <th>Status</th>
      <th>Comment</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_off_requests.each do |time_off_request| %>
      <tr>
        <td><%= link_to time_off_request.user.try(:full_name) || "<missing>", time_off_request_path(time_off_request) %></td>
        <td><%= link_to time_off_request.manager.full_name unless time_off_request.manager.nil? %></td>
        <td><%= time_off_request.from_date %> - <%= time_off_request.to_date %></td>
        <td><%= time_off_request.status.name %></td>
        <td><%= time_off_request.comment %></td>
        <td>
          <% if time_off_request.user_id == current_user.id %>
            <%= link_to 'Edit', edit_time_off_request_path(time_off_request) %>
          <% else %>
            <%= link_to 'Approve', approve_time_off_request_path(time_off_request), method: :post, data: { confirm: 'Approve the request?' } %>
          <% end %>
        </td>
        <td><%= link_to 'Delete', time_off_request, method: :delete, data: { confirm: 'Delete the request?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time off request', new_time_off_request_path %>
