<p>
  <strong>User:</strong>
  <%= @time_off_request.user.full_name %>
</p>

<p>
  <strong>Approved By:</strong>
  <%= @time_off_request.manager.full_name unless @time_off_request.manager.nil? %>
</p>

<p>
  <strong>Day(s) off requested:</strong>
  <%= @time_off_request.from_date %> - <%= @time_off_request.to_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @time_off_request.status.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @time_off_request.comment %>
</p>

<%= link_to 'Edit', edit_time_off_request_path(@time_off_request) %> |
<%= link_to 'Back', time_off_requests_path %>
<% if current_user.user_type.manager? %>
 | <%= link_to 'Approve', approve_time_off_request_path(@time_off_request), method: :post, data: { confirm: 'Approve the request?' } %>
 | <%= link_to 'Deny', deny_time_off_request_path(@time_off_request), method: :post, data: { confirm: 'Deny the request?' } %>
<% end %>
 | <%= link_to 'Delete', @time_off_request, method: :delete, data: { confirm: 'Delete the request?' } %>
