<p><%= @user.full_name %>,</p>

<p><%= @schedule_noun %> been created for you. You can go to <%= link_to "the schedule site", root_url(host: JobScheduler::Application.config.url_host) %> to view your current schedule.</p>

<p>
  <strong>Job name: </strong><%= "#{@job.customer.try(:name)}: #{@job.name}" %><br>
  <strong>Dates: </strong><%= @from_date %> - <%= @to_date %><br>
  <strong>Times:</strong><%= Time.parse(@from_time).strftime("%l:%M %p") %> - <%= Time.parse(@to_time).strftime("%l:%M %p") %>
</p>