<!DOCTYPE html>
<html>
<head>
  <title>JobScheduler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="padding: 0px" href="/">
          <%= image_tag("logo_banner.jpg", style: "width: 419px; height: 75px") %>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" style="padding-top: 25px">
          <% show_admin_section do %><li class="<%= menu_class("employees") %>"><%= link_to("Employees", employees_path) %></li><% end %>
          <% show_admin_section do %><li class="<%= menu_class("customers") %>"><%= link_to("Customers", customers_path) %></li><% end %>
          <% show_admin_section do %><li class="<%= menu_class("jobs") %>"><%= link_to("Jobs", jobs_path) %></li><% end %>
          <% show_admin_section do %><li class="<%= menu_class("schedules") %>"><%= link_to("Schedules", schedules_path) %></li><% end %>
          <% show_admin_section do %><li class="<%= menu_class("skills") %>"><%= link_to("Skills", skills_path) %></li><% end %>
          <% if user_signed_in? %><li class="<%= menu_class("time_off_requests") %>"><%= link_to("Time Off", time_off_requests_path) %></li><% end %>
          <li><%= link_to("Logout", destroy_user_session_path, method: :delete) if user_signed_in? %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" style="padding-bottom: 20px;">
    <% unless notice.nil? %><p id="notice" class="notice"><%= notice %></p><% end %>
    <% unless alert.nil? %><p id="alert" class="alert"><%= alert %></p><% end %>  
    <%= yield %>
  </div>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
